/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BASE */
body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f5f7fa;
    color: #333;
}

header {
    background-color: #1e293b;
    color: white;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
}

header p {
    opacity: 0.9;
}

header h1 {
    margin-bottom: 5px;
}

nav {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

nav a {
    color: #e5e7eb;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 4px;
    display: inline-block;
}

nav a:hover {
    color: #38bdf8;
    background-color: rgba(255, 255, 255, 0.1);
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    margin-bottom: 50px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
}

section h2 {
    color: #1e293b;
    margin-bottom: 10px;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 8px;
}

ul li a {
    color: #2563eb;
}

ul li a:hover {
    text-decoration: underline;
}

article {
    flex: 1;
    min-width: 250px;
    border-radius: 8px;
    background-color: rgba(255, 169, 169, 0.592);
    padding: 15px;
    margin-bottom: 20px;
    border-left: 4px solid #387ef8;
}
article:hover {
    transform: translateY(-3px);
}

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 6px;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #cbd5f5;
    border-radius: 4px;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #2563eb;
}

button {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 20px 30px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.4s ease;
}
button:hover {
    opacity: 0.9;
}

footer {
    background-color: #0f172a;
    color: #cbd5f5;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

p {
    font-size: 15px;
    color: #647a98;
}

.parent {
    display: flex;
}

@media (min-width: 768px) {
}

form {
    max-width: 600px;
}

@media (max-width: 600px) {

    main {
        padding: 0 15px;
    }

    nav {
        flex-wrap: wrap;
        gap: 10px;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
}

@media (max-width:768px) {
    section:nth-of-type(2) {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    input,
    textarea,
    button {
        font-size: 16px;
    }
}

section {
    scrool-margin-top: 80px;
}

.hidden {
    display: none;
}

#menu {
    background-color: #eee;
    padding: 1em;
}
.menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    background-color: #eee;
}

.menu.open {
    max-height: 300px;
}

.menu a {
    display: inline-block;
    padding: 0.8em 2em;
    text-decoration: none;
    color: #333;
    font-size: 1.1em;
    border-radius: 8px;
    transition: all 0.3s ease;
    margin: 0.3em 1em;
    text-align: center;
}
 
.menu-btn {
    font-size: 1.5em;
    cursor: pointer;
    background: none;
    border: none;
}
.menu a:hover {
    background-color: #007bff;
    color: #fff;
    transform: scale(1.05);
}